$darkScheme = { 
	button-bg-color: rgb(74,69,64),
	context-menu-bg-color: rgb(61,59,57),
	tab-selected-bg-color: rgb(46,46,46),
	left-click-selected-bg-color: rgb(59,55,51),
	widget-header-bg-color: rgb(51,49,47),
	widget-bg-color: rgb(22,20,18),
	widget-dark-bg-color: rgb(22,20,18),
	chart-bg-colorwidget-dark-bg-color: rgb(22,20,18),
	chart-bg-colorchart-bg-color: rgb(22,20,18),
	table-header-bg-color: rgb(36,36,36),
	symbol-area-bg-color: rgb(35,34,33),
	confirmation-area-bg-color: rgb(40,40,39),
	additional-bg-color: rgb(47,80,97),
	light-additional-bg-color: rgb(108,181,217),
	link-colorlink-color: rgb(108,181,217),
	sub-additional-bg-color: rgb(255,201,115),
	hovered-link-color: rgb(255,201,115),
	message-sbj-dealer-text-colorhovered-link-color: rgb(255,201,115),
	message-sbj-dealer-text-colormessage-sbj-dealer-text-color: rgb(255,201,115),
	sell-bg-color: rgb(160,44,40),
	down-bg-colordown-bg-color: rgb(160,44,40),
	down-dashboard-bg-color: rgb(171,47,43),
	buy-bg-color: rgb(58,102,46),
	up-bg-color: rgb(58,102,46),
	up-dashboard-bg-colorup-bg-color: rgb(58,102,46),
	up-dashboard-bg-colorup-dashboard-bg-color: rgb(58,102,46),
	neutral-dashboard-bg-color: rgb(87,81,75),
	wrong-bg-color: rgb(127,13,13),
	message-wrong-bg-color: rgb(38,46,51),
	disabled-bg-color: rgb(77,77,77),
	disabled-symbol-color: rgb(127,127,127),
	warning-button-bg-color: rgb(106,33,34),
	sub-additional-color-2: rgb(191,151,86),
	pressed-link-color: rgb(191,151,86),
	status-pending-text-color: rgb(191,151,86),
	accident-message-sbj-text-colorpressed-link-color: rgb(191,151,86),
	accident-message-sbj-text-colorstatus-pending-text-color: rgb(191,151,86),
	accident-message-sbj-text-coloraccident-message-sbj-text-color: rgb(191,151,86),
	sell-index-bg-color: rgb(46,20,22),
	buy-index-bg-color: rgb(19,35,18),
	chart-up-line-color: rgb(96,153,77),
	buy-text-color: rgb(96,153,77),
	up-text-color: rgb(96,153,77),
	status-filled-text-colorbuy-text-color: rgb(96,153,77),
	status-filled-text-colorup-text-color: rgb(96,153,77),
	status-filled-text-colorstatus-filled-text-color: rgb(96,153,77),
	chart-down-line-color: rgb(217,55,44),
	sell-text-color: rgb(217,55,44),
	down-text-colorsell-text-color: rgb(217,55,44),
	down-text-colordown-text-color: rgb(217,55,44),
	chart-dark-bg-color: rgb(18,17,15),
	chart-mini-fill-color: rgb(36,34,32),
	chart-divider-color: rgb(33,33,33),
	chart-button-bg-color: rgb(48,45,42),
	input-bg-color: rgb(32,32,32),
	input-border-color: rgb(59,59,59),
	input-disabled-bg-color: rgb(59,59,59),
	input-disabled-border-colorinput-disabled-bg-color: rgb(59,59,59),
	input-disabled-border-colorinput-disabled-border-color: rgb(59,59,59),
	control-color: rgb(255,255,255),
	main-text-color: rgb(255,255,255),
	dashboard-text-color: rgb(255,255,255),
	input-text-color: rgb(255,255,255),
	selected-text-color: rgb(255,255,255),
	button-text-color: rgb(255,255,255),
	whitemain-text-color: rgb(255,255,255),
	whitedashboard-text-color: rgb(255,255,255),
	whiteinput-text-color: rgb(255,255,255),
	whiteselected-text-color: rgb(255,255,255),
	whitebutton-text-color: rgb(255,255,255),
	whitewhite: rgb(255,255,255),
	icon-hover-bg-color: rgb(30,28,26),
	active-tab-bg-color: rgb(74,72,67),
	additional-text-color: rgb(153,153,153),
	table-column-text-header-color: rgb(153,153,153),
	description-text-color: rgb(153,153,153),
	disabled-text-color: rgb(153,153,153),
	status-expired-text-colortable-column-text-header-color: rgb(153,153,153),
	status-expired-text-colordescription-text-color: rgb(153,153,153),
	status-expired-text-colordisabled-text-color: rgb(153,153,153),
	status-expired-text-colorstatus-expired-text-color: rgb(153,153,153),
	widget-header-hint-label-color: rgb(128,128,128),
	label-color: rgb(128,128,128),
	repeated-text-color: rgb(128,128,128),
	expired-text-color: rgb(128,128,128),
	disabled-text-color-3label-color: rgb(128,128,128),
	disabled-text-color-3repeated-text-color: rgb(128,128,128),
	disabled-text-color-3expired-text-color: rgb(128,128,128),
	disabled-text-color-3disabled-text-color-3: rgb(128,128,128),
	table-text-color: rgb(204,204,204),
	not-changeble-price-text-color: rgb(204,204,204),
	disabled-text-color-2: rgb(204,204,204),
	widget-header-hint-value-color: rgb(204,204,204),
	na-selected-text-color: rgb(204,204,204),
	status-sending-text-color: rgb(204,204,204),
	status-working-text-colornot-changeble-price-text-color: rgb(204,204,204),
	status-working-text-colordisabled-text-color-2: rgb(204,204,204),
	status-working-text-colorwidget-header-hint-value-color: rgb(204,204,204),
	status-working-text-colorna-selected-text-color: rgb(204,204,204),
	status-working-text-colorstatus-sending-text-color: rgb(204,204,204),
	status-working-text-colorstatus-working-text-color: rgb(204,204,204),
	hint-color: rgb(102,102,102),
	chart-values-color: rgb(102,102,102),
	quantity-color: rgb(102,102,102),
	na-text-colorchart-values-color: rgb(102,102,102),
	na-text-colorquantity-color: rgb(102,102,102),
	na-text-colorna-text-color: rgb(102,102,102),
	accident-table-text-color: rgb(242,242,242),
	message-sbj-trading-text-colormessage-sbj-trading-text-color: rgb(242,242,242),
	book-bg-color-1: rgb(29,65,73),
	book-bg-color-2: rgb(26,62,66),
	book-bg-color-3: rgb(23,53,58),
	book-bg-color-4: rgb(19,44,48),
	book-bg-color-5: rgb(16,37,40),
	book-bg-color-6: rgb(13,30,33),
	book-bg-color-7: rgb(10,23,25),
	matched-color: rgb(119,227,230),
	selected-color: rgb(61,167,177),
	selected-color-2: rgb(222,125,44),
	message-sbj-notification-text-colormessage-sbj-notification-text-color: rgb(222,125,44),
	sub-additional-text-color: rgb(142,188,212),
	status-rejected-text-color: rgb(204,46,52),
	status-canceled-text-colorstatus-canceled-text-color: rgb(204,46,52),
	sorted-column-text-color: rgb(179,130,107),
	message-sbj-warning-text-color: rgb(230,52,58),
	option-chain-bg-color: rgb(37,37,46),
	black: rgb(0,0,0)
};
$monochrome-chart-color-1 = rgb(255,255,255);
$monochrome-chart-color-2 = rgb(229,229,229);
$monochrome-chart-color-3 = rgb(204,204,204);
$monochrome-chart-color-4 = rgb(181,181,181);
$monochrome-chart-color-5 = rgb(153,153,153);
$monochrome-chart-color-6 = rgb(130,130,130);
$monochrome-chart-color-7 = rgb(102,102,102);
$monochrome-chart-color-8 = rgb(79,79,79);
$monochrome-chart-color-9 = rgb(51,51,51);
$monochrome-chart-color-10 = rgb(28,28,28);
$monochrome-chart-color-11 = rgb(22,20,18);
$basic-studies-chart-color-1 = rgb(158,43,62);
$basic-studies-chart-color-2 = rgb(228,52,45);
$basic-studies-chart-color-3 = rgb(231,125,47);
$basic-studies-chart-color-4 = rgb(255,202,117);
$basic-studies-chart-color-5 = rgb(218,219,111);
$basic-studies-chart-color-6 = rgb(88,155,79);
$basic-studies-chart-color-7 = rgb(110,191,144);
$basic-studies-chart-color-8 = rgb(0,185,147);
$basic-studies-chart-color-9 = rgb(20,136,153);
$basic-studies-chart-color-10 = rgb(0,160,179);
$basic-studies-chart-color-11 = rgb(137,195,223);
$common-chart-color-1 = rgb(255,152,153);
$common-chart-color-2 = rgb(255,199,154);
$common-chart-color-3 = rgb(255,252,156);
$common-chart-color-4 = rgb(207,255,156);
$common-chart-color-5 = rgb(136,255,155);
$common-chart-color-6 = rgb(53,255,176);
$common-chart-color-7 = rgb(133,255,250);
$common-chart-color-8 = rgb(141,216,255);
$common-chart-color-9 = rgb(150,150,254);
$common-chart-color-10 = rgb(209,150,254);
$common-chart-color-11 = rgb(255,149,254);
$common-chart-color-12 = rgb(255,100,102);
$common-chart-color-13 = rgb(255,176,104);
$common-chart-color-14 = rgb(255,253,107);
$common-chart-color-15 = rgb(175,255,107);
$common-chart-color-16 = rgb(57,255,106);
$common-chart-color-17 = rgb(53,255,176);
$common-chart-color-18 = rgb(45,255,251);
$common-chart-color-19 = rgb(78,189,254);
$common-chart-color-20 = rgb(96,95,254);
$common-chart-color-21 = rgb(193,94,253);
$common-chart-color-22 = rgb(255,93,253);
$common-chart-color-23 = rgb(214,37,42);
$common-chart-color-24 = rgb(213,115,45);
$common-chart-color-25 = rgb(207,198,50);
$common-chart-color-26 = rgb(123,206,49);
$common-chart-color-27 = rgb(0,206,49);
$common-chart-color-28 = rgb(0,206,117);
$common-chart-color-29 = rgb(0,205,196);
$common-chart-color-30 = rgb(0,140,203);
$common-chart-color-31 = rgb(88,88,227);
$common-chart-color-32 = rgb(141,78,202);
$common-chart-color-33 = rgb(204,19,202);
$common-chart-color-34 = rgb(174,0,2);
$common-chart-color-35 = rgb(173,66,5);
$common-chart-color-36 = rgb(156,144,15);
$common-chart-color-37 = rgb(81,155,16);
$common-chart-color-38 = rgb(0,155,16);
$common-chart-color-39 = rgb(0,155,68);
$common-chart-color-40 = rgb(0,153,142);
$common-chart-color-41 = rgb(0,101,152);
$common-chart-color-42 = rgb(66,65,174);
$common-chart-color-43 = rgb(96,55,149);
$common-chart-color-44 = rgb(148,0,151);
